@import "_normalize.less";
@import "_base.less";
@import "_fonts.less";
@import "../../fonts/octicons.less";

// Base colors
@red: #F52121;
@green: #4CAF50;
@blue: #2196F3;

// @import "pallete-2015fall.less"

@2015fall-yellow: #FFFFC3;
@2015fall-orange: #FFC55C;
@2015fall-red: #E95D35;
@2015fall-blue: #272E6E;

@2016winter-blue: #D8FFF1;
@2016winter-sky: #D8FFF1;
@2016winter-orchard: #B485D8;
@2016winter-purple: #5B73A7;


// linear-gradient(to bottom right,#D8FFF1,#D8FFF1,#B485D8,#5B73A7)

// @2015fall-yellow: #F5D773;
// @2015fall-orange: #F96C48;
// @2015fall-pink:   #DB466B;
// @2015fall-purple: #560ca6; // #A62671;

// Seasonal Color Pallete
@color1: @2015fall-yellow;
@color2: @2015fall-orange;
@color3: @2015fall-red;
@color4: @2015fall-blue;

@brand:  @color4;

// @import "variables.less"

@font-family-header:    Asap, "Source Sans Pro", "Proxima Nova Soft", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; // "Proxima Nova Condensed"
@font-family-body:      Freight, "Source Sans Pro", "Proxima Nova Soft", "Source Sans Pro", "Calluna Sans", "Grumpy Black 48", Streetscript, "Playfair Display", Lora, Georgia, "Times New Roman", Times, serif;
@font-family-code:      Menlo, Monaco, Consolas, "Courier New", monospace;

@font-size-base:        18px;
@line-height-base:      1.4;
@headings-font-family:  inherit; // empty to use BS default, @font-family-base
@headings-font-weight:  500;

@grid-columns:          10;
@grid-column-padding:   15px; // 15px; // Left and right inner padding
@grid-float-breakpoint: 1200px;

@mobile:                @grid-float-breakpoint;

@border-radius:         6px;

// @import "navigation.less";
navigation {
  display: block;
  container {
    position: fixed;
    width: auto;
    background: white;
    color: black;
    z-index: 9001;
    box-shadow: 0 0px 4px rgba(50,50,50,.55);
  }
  container:first-of-type {
    top: 0;
    left: 0;
    &:after {
      position: absolute;
      top: 0;
      left: 100%;
      content: ' ';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 56px 24px 0 0;
      border-color: #ffffff transparent transparent transparent;
      -webkit-transform:rotate(360deg);
    }
  }
  container:last-of-type {
    top: 0;
    right: 0;
    &:after {
      position: absolute;
      top: 0;
      right: 100%;
      content: ' ';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 24px 56px 0;
      border-color: transparent #ffffff transparent transparent;
      -webkit-transform:rotate(360deg);
    }
  }
  a {
    display: inline-block;
    padding: 12px;
    border-bottom: 4px solid #fff;
    font-size: 1.25em;
    &:first-of-type {
      font-weight: bold;
    }
    &:active, &.active {
      border-bottom: 4px solid @color2;
    }
  }
}

// @import "header.less";
header {
  background: @color4;
  color: white;
  text-align: center;
  padding-top: 54px + 70px;
}

// @import "annoucements.less";
.annoucements {
  .row;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9001;
  a, .annoucement {
    .alert;
  }
  .livestream {
    // background: @red;
    .column;
    font-weight: bold;
    &:nth-child(3n+1) {
      background: @red;
    }
    &:nth-child(3n+2) {
      background: darken(@red,10%);
    }
    &:nth-child(3n+3) {
      background: darken(@red,20%);
    }
  }
}

// @import "events.less";
#events {
  color: black;
  background: linear-gradient(to bottom right, @2015fall-yellow, @2015fall-orange, @2015fall-red, @2015fall-blue);
  text-align: center;
  &.winter {
    background: linear-gradient(to bottom right,#D8FFF1,#D8FFF1,#B485D8,#5B73A7)!important;
  }
  column {
    display: flex;
    padding: .5em;
    max-width: 300px!important;
  }
  a:hover {
    text-decoration: none;
  }
  .event {
    width: 100%;
    text-align: left;
    background: white;
    color: black;
    margin-top: 75px;
    padding: 1em;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.15);
    position: relative;
    border-radius: @border-radius;
    text-shadow: none;
    .logo {
      width: 180px;
      height: 150px;
      display: block;
      margin: auto;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-filter: drop-shadow(12px 12px 25px rgba(50,50,50,.75));
      filter: drop-shadow(12px 12px 25px rgba(50,50,50,.75));
      // margin-top: -75px;
      // margin-bottom: 1em;
      margin-top: -180px;
      margin-bottom: 50px;
      .transition-bounce;
    }
    .cover {
      display: block;
      background-color: lightGray;
      height: 150px;
      margin: -1em;
      background-size: cover;
      background-position: center;
      border-top-left-radius: @border-radius;
      border-top-right-radius: @border-radius;
    }
    .date {
      opacity: 0.5;
      font-weight: bold;
      font-family: Asap;
    }
    h3 {
      font-size: 24px;
      font-weight: bold;
      margin: .3em 0;
    }
    p {
      margin-bottom: .25em;
    }
    .banner {
      background: rgb(118, 128, 131);
      color: #fff;
      padding: .5em 0 .5em 1em;
      margin: 1.25em -1em -1em;
      display: block;
      border-bottom-left-radius: @border-radius;
      border-bottom-right-radius: @border-radius;
      // font-size: 16px;
      &.live {
        background: @red; //@red: #F52121;
        font-weight: bold;
      }
      &.reg-open {
        font-weight: bold;
        background: @green; //@green: #4CAF50;
      }
      &.now {
        font-weight: bold;
        background: @blue; //@blue: 2196F3
      }
    }
    &:hover {
      box-shadow: 0 0 0 5px @2015fall-yellow;
      .logo {
        transform: translateY(-20px);
        -webkit-filter: drop-shadow(12px 32px 25px rgba(100, 100, 100, .35));
        filter: drop-shadow(12px 32px 25px rgba(100, 100, 100, .35));
      }
    }
  }
}
.big-number {
  font-family: @font-family-code;
}
#interested {
  text-align: center;
  background: @color4;
  box-shadow: 0 0 60px @color4;
  color: white;
}

// @import "footer.less";
footer {
  background:  black;
  color: white;
}

// @import "homepage.less";
#header-homepage {
  background: linear-gradient(#0D202D,lighten(#0D202D,10%));
  color: white;
  height: 100vh;
  min-height: 555px;
  display: flex;
}
.boxed {
  display: inline-block;
  background: rgba(155, 155, 155, 0.39);
  padding: 0em .75em 1em;
  border-radius: 8px;
}

// @import "404.less";
#fourohfour {
  display: flex;
  background: @color3;
  color: white;
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding: 50px 0 50px;
}
