---
layout: blank
title: "Home"
---
{% assign eventPost = site.data.events.2016winter | sort: 'start' %}
{% for event in eventPost %}
{% capture events_count %} {{ events_count | plus: 1 }} {% endcapture %}
{% capture attendees_count %} {{ attendees_count | plus: event.attendees }} {% endcapture %}
{% endfor %}

<div class="annoucements">
  {% for event in eventPost %}{% if event.live %}
      <a href="{{ event.live}}" class="livestream">
        <container>
          <i class="octicon octicon-broadcast"></i> {{ event.name }} is livestreaming right now. Click here to tune in!
        </container>
      </a>
    {% endif %}{% endfor %}
</div>
<!-- Add your site or application content here -->

<header id="header-homepage" class="text-center">
  <container>
    <h1>Learn, Build, and Create</h1>
    <p class="lead"><span><span class="typer" data-typer-targets="build,create,eat,make,code,write,design,hack,learn,share,scale,balance,git commit,bash,publish,share,node.js">Be a part of</span> the world's largest community of high schoolers passionate about computer science.</span></p>
    <!-- <p>
      <a href="#events" class="button"><strong><i class="octicon octicon-rocket"></i> Find an event!</strong></a>
    </p> -->
    <p>
    </p>
    <div class="boxed">
     <strong>Attend an Event</strong>
     <br>
     <a href="#events" class="button">2016 Events</a>
    </div>
    <!-- <row>
      <div size="50" class="text-left info-box">
        <strong>Learn More</strong> <br>
        <a href="#events" class=""> What is a hackathon?</a>
        <a href="/adults" class=""> For parents &amp; teachers</a>
      </div>
      <div size="50" class="text-left info-box">
        <strong>Get Involved</strong> <br>
        <a href="#events" target="_blank" class="">Facebook Group</a>
        <a href="/organize" class="">Organize an event</a>
        <a href="/partners" class="">Partners</a>
      </div>
    </row> -->
  </container>
</header>

<style>
  /* body {
    background: linear-gradient(to top, #F5D773,#F96C48,#DB466B,#A62671);
    color: white;
  }
  header {
    background: none;
  } */
</style>
<section id="events" class="winter">
  <container>
    <h1>2016 Events</h1>
    <!-- <row id="stats">
      <column size="33">
        <div>
          <span id="attendees_count" class="big-number">{{ attendees_count }}</span>
          <br>
          Attendees
        </div>
      </column>
      <column size="33">
        Sticker goes here
      </column>
      <column size="33">
        <div>
          <span id="events_count" class="big-number">{{ events_count }}</span>
          <br>
          Events
        </div>
      </column>
    </row> -->
    <!-- <p class="lead">Attend one of <span id="events_count">{{ events_count }}</span> hackathons today and join <span id="attendees_count">{{ attendees_count }}</span> students!</p> -->
  </container>
  <script>
  var options = {
    useEasing : true,
    useGrouping : true,
    separator : ',',
    decimal : '.',
    prefix : '',
    suffix : ''
  };
  var attendeesCount = new CountUp("attendees_count", 0, {{ attendees_count }}, 0, 3.5, options);
  attendeesCount.start();
  // var eventsCount = new CountUp("events_count", 0, {{ events_count }}, 0, 3.5, options);
  // eventsCount.start();
  // var unhackathon_colors = [#38A4FE,#3D9002,#34BCA3,#34BCA3,#FFC643,#EC006B,#DF2025,#007164];

  </script>
  <container>
    <row>
      {% assign now = site.time | date: '%s' %}
      {% for event in eventPost %}
          <!-- TODO: Translate time to closest date -->
          {% assign eventStart = event.start | date: '%s' %}
          {% assign eventEnd = event.end | date: '%s' %}
          {% assign eventEndOffset = eventEnd + 86400 %}
          {% assign eventDeadline = event.deadline | date: '%s' %}
          <column size="25">
            <a {% if event.live %}href="{{ event.live }}"{% else %}href="{{ event.url }}"{% endif %} target="_blank" class="event" data-event="{{ event.name }}">
              <span class="cover" style="background-image: {{ event.cover }}"></span>
              <span class="logo" style="background-image: url({{ event.logo }})"></span>
              <p class="event-date hidden-mobile date">{{ event.start | date: "%B %-d" }} {% if event.start != event.end %}- {{ event.end | date: "%-d" }}{% endif %}</p>
              <h3>{{ event.name }}</h3>
              <!-- <p class="meta">{{ event.description }}</p> -->
              <p class="event-date visible-mobile">{{ event.start | date: "%B %-d" }} {% if event.start != event.end %}- {{ event.end | date: "%-d" }}{% endif %}</p>
              <p class="event-location">{{ event.location }}</p>
              <p class="event-city">{{ event.city }}</p>
              <!--
                TODO:
                4 States
                finished, count
                finished, no count
                in progress, stream
                in progress, no stream
                future, deadline over and/or not opencab3275oak5754boys
                future, application open
              -->
              {% if event.live %}
                <div class="banner live">
                  <i class="octicon octicon-broadcast"></i> &nbsp; Join the livestream!
                </div>
              {% elsif eventStart > now %}
                {% if eventDeadline > now %}
                  <div class="banner future reg-open">
                    Registration is open!
                  </div>
                {% else %}
                  <div class="banner future reg-closed">
                    Registration is closed!
                  </div>
                {% endif %}
              {% elsif eventEnd < now %}
                {% if event.attendees > 0 %}
                  <div class="banner past past-data">
                    {{ event.attendees }} high schoolers attended.
                  </div>
                {% else %}
                  <div class="banner past past-dataless">
                    Crunching data...
                  </div>
              {% endif %}
              {% else %}
                <div class="banner now">
                  Hacking in progress!
                </div>
              {% endif %}
            </a>
          </column>
      {% endfor %}
    </row>
  </container>
</section>
<section id="interested">
  <container>
    <h3>Interested in organizing your own hackathon?</h3>
    <p class="lead">Here's a few resources to get started:</p>
    <a href="/organize" class="button">Click here!</a>
    <br><br>
    <p>
      <a href="#events" class=""> Add your event!</a>
    </p>
  </container>
</section>
<!-- <section id="addevent">
  <container>
    <h2>Ethos</h2>
    <p class="lead">
      Check out our proposed structure: <a href="https://docs.google.com/document/d/1lby0OpABVYYQs_8QH8y9r_2fLcCqzKk6ZH78D-wrMf0/edit?usp=sharing">https://docs.google.com/document/d/1lby0OpABVYYQs_8QH8y9r_2fLcCqzKk6ZH78D-wrMf0/edit?usp=sharing</a>
    </p>
  </container>
</section> -->

<!-- <section id="interested">
  <row>
    <column></column>
    <column></column>
  </row>
  <container>
    <row>
      <column>
        <h3>Get Involved!</h3>
        <p class="lead">Here are a few resources to get you started:</p>
        <a href="/organize" class="button">Click here!</a>
        <br><br>
        <p>
          <a href="#events" class=""> Add your event!</a>
        </p>
      </column>
      <column>
        <h3>Get Involved!</h3>
        <p class="lead">Here are a few resources to get you started:</p>
        <a href="/organize" class="button">Click here!</a>
        <br><br>
        <p>
          <a href="#events" class=""> Add your event!</a>
        </p>
      </column>
    </row>
  </container>
</section> -->
