</content>
<footer>
  <container>
    <p>
      By <a href="http://hshackathons.com">High School Hackathons</a> with our friends at <a href="http://hacker.fund/">Hacker Fund</a> &amp; <a href="http://mlh.io/">Major League Hacking</a>. Site by Victor Lourng. Think you can improve this site? Send up a pull request! Contact us.
    </p>
    <div id="google_translate_element"></div>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }
      </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	</container>
</footer>
