<span id="top"></span>
<a href="#content" class="sr-only">Skip to Content</a>

<!-- Javascript notice -->
<noscript>
  <a href="http://www.enable-javascript.com/" target="_blank">Please enable JavaScript to access this site. Click here for instructions.</a>
</noscript>

<!-- Old IE notice -->
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<navigation>
  <container>
    <a href="#">HS Hackathons</a>
  </container>
  <container>
    <a href="/events.html">Events</a><a href="/organize.html">Organize</a><a href="/getinvoled.html">FAQ</a>
  </container>
</navigation>

<content>

<span id="content"></span>

<style>
{% if page.accent %}
.accent-bar {
  border-top-color: {{ page.accent }}
}
{% endif %}
</style>
